* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  background-color: #FF9A4B;
  height: 50px;
}

.main-container {
  display: flex;
  margin: 0 auto;
  width: 960px;
}

.contents-container {
  background-color: #EEEEEE;
  width: 300px;
  /*height: 500px;*/
  margin: 0 15px;
}

footer {
  background-color: #AAAAAA;
  height: 50px;
}