* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  background-color: #FF9A4B;
  height: 50px;
}

.main-container {
  display: flex;
  margin: 0 auto;
  width: 960px;
}

.contents-container {
  position: relative;
  background-color: #EEEEEE;
  width: 300px;
  /*height: 500px;*/
  margin: 0 15px;
  padding: 10px;
}

.content-image-box1 {
  height: 150px;
  background-image: url("img/flow01.png");
  background-size: cover;
  background-position: bottom;
}

.content-image-box2 {
  height: 150px;
  background-image: url("img/flow02.png");
  background-size: cover;
  background-position: bottom;
}

.content-image-box3 {
  height: 150px;
  background-image: url("img/flow03.png");
  background-size: cover;
  background-position: bottom;
}

.contents-container > span {
  color: white;
  position: absolute;
  background-color: #FF9A4B;
  top: 0;
  left: 0;
}

footer {
  background-color: #AAAAAA;
  height: 50px;
}